parameters:
  bootstrap: %currentWorkingDirectory%/vendor/autoload.php
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
includes:
    - /tools/.composer/vendor/phpstan/phpstan-deprecation-rules/rules.neon
